Temp/
Library/
Logs/
obj/
repo.sln.DotSettings.user
repo.sln
Assembly-CSharp.csproj
.idea/
assets/Plugins/Editor/JetBrains/
assets/Plugins/Editor/JetBrains.meta
*.csproj
GameJamPractice.sln.DotSettings
GameJamPractice.sln.DotSettings.user
GameJamPractice.sln
assets/Plugins.meta
assets/Plugins/Editor.meta
